In [24]:
import pandas as pd

root = "../full_data/"
header = ['Source','toxicity','severe_toxicity','obscene','threat','insult','identity_attack']
dtype = {'Source':"string",'toxicity':float,'severe_toxicity':float,'obscene':float,'threat':float,'insult':float,'identity_attack':float}

In [10]:
df_inst = pd.read_csv(root + "inst_score.csv", header=None, skiprows=1, names=header, low_memory=False)
df_reddit = pd.read_csv(root + "reddit_score.csv", header=None, skiprows=229952, names=header)
df_so = pd.read_csv(root + "stackOF_answers_score.csv", header=None, skiprows=1, names=header, low_memory=False)
df_twitter = pd.read_csv(root + "twitter_score.csv", header=None, skiprows=1, names=header, low_memory=False)

In [37]:
df_inst=df_inst.drop('Source', axis=1)
df_reddit=df_reddit.drop('Source', axis=1)
df_so=df_so.drop('Source', axis=1)
df_twitter=df_twitter.drop('Source', axis=1)

        toxicity  severe_toxicity  obscene   threat   insult  identity_attack
0        0.00133          0.00010  0.00017  0.00012  0.00020          0.00016
1        0.00064          0.00012  0.00018  0.00012  0.00018          0.00014
2        0.00067          0.00011  0.00018  0.00012  0.00018          0.00014
3        0.00063          0.00012  0.00018  0.00012  0.00018          0.00014
4        0.00067          0.00012  0.00018  0.00012  0.00018          0.00014
...          ...              ...      ...      ...      ...              ...
900032   0.00151          0.00009  0.00021  0.00010  0.00020          0.00014
900033   0.00076          0.00011  0.00019  0.00012  0.00018          0.00013
900034   0.00071          0.00012  0.00019  0.00012  0.00017          0.00014
900035   0.00125          0.00009  0.00020  0.00010  0.00020          0.00014
900036   0.00372          0.00009  0.00033  0.00011  0.00025          0.00016

[900037 rows x 6 columns]

In [39]:
df_inst.head()

,Source,toxicity,severe_toxicity,obscene,threat,insult,identity_attack
0,in,0.01646,0.00010,0.00075,0.00018,0.00069,0.00026
1,in,0.03517,0.00018,0.00205,0.00040,0.00080,0.00029
2,in,0.00146,0.00009,0.00020,0.00012,0.00019,0.00014
3,in,0.00185,0.00010,0.00019,0.00012,0.00022,0.00018
4,in,0.84298,0.00129,0.03260,0.00099,0.32854,0.00358

In [33]:
df_reddit.describe()

,toxicity,severe_toxicity,obscene,threat,insult,identity_attack
count,2.814208e+06,2.814208e+06,2.814208e+06,2.814208e+06,2.814208e+06,2.814208e+06
mean,1.020356e-01,5.722498e-03,6.635959e-02,2.632257e-03,3.121917e-02,3.872992e-03
std,2.557978e-01,3.348364e-02,2.169705e-01,2.977271e-02,1.254056e-01,3.513255e-02
min,4.700000e-04,7.000000e-05,1.300000e-04,7.000000e-05,1.500000e-04,1.100000e-04
25%,7.100000e-04,1.000000e-04,1.800000e-04,1.100000e-04,1.800000e-04,1.400000e-04
50%,1.220000e-03,1.100000e-04,2.000000e-04,1.200000e-04,2.000000e-04,1.500000e-04
75%,1.631000e-02,1.300000e-04,7.500000e-04,2.000000e-04,7.300000e-04,2.900000e-04
max,9.992200e-01,8.988800e-01,9.969900e-01,9.248400e-01,9.878800e-01,9.577700e-01

In [34]:
df_so.describe()

,toxicity,severe_toxicity,obscene,threat,insult,identity_attack
count,2.014464e+06,2.014464e+06,2.014464e+06,2.014464e+06,2.014464e+06,2.014464e+06
mean,2.375741e-03,1.081204e-04,4.079492e-04,1.367959e-04,2.593929e-04,1.458979e-04
std,1.351502e-02,1.088885e-04,6.526752e-03,1.428909e-03,2.758991e-03,1.465626e-04
min,5.100000e-04,8.000000e-05,1.500000e-04,8.000000e-05,1.600000e-04,1.200000e-04
25%,7.700000e-04,1.000000e-04,1.800000e-04,1.100000e-04,1.800000e-04,1.300000e-04
50%,9.500000e-04,1.100000e-04,1.900000e-04,1.200000e-04,1.800000e-04,1.400000e-04
75%,1.420000e-03,1.100000e-04,2.200000e-04,1.200000e-04,2.000000e-04,1.400000e-04
max,9.829700e-01,4.870000e-02,9.426000e-01,5.590600e-01,9.179800e-01,1.356400e-01

In [35]:
df_twitter.describe()

,Source,toxicity,severe_toxicity,obscene,threat,insult,identity_attack
count,900037.000000,900037.000000,900037.000000,900037.000000,900037.000000,900037.000000,900037.000000
mean,450018.000000,0.078443,0.003204,0.037291,0.002001,0.020775,0.003978
std,259818.446453,0.214599,0.025475,0.160540,0.025761,0.102454,0.043212
min,0.000000,0.000490,0.000080,0.000140,0.000080,0.000160,0.000120
25%,225009.000000,0.000820,0.000100,0.000180,0.000110,0.000180,0.000140
50%,450018.000000,0.001710,0.000110,0.000210,0.000120,0.000210,0.000150
75%,675027.000000,0.017500,0.000130,0.000780,0.000190,0.000700,0.000270
max,900036.000000,0.999110,0.855720,0.996900,0.920640,0.988070,0.957620